version: '3.8'

services:

  app-dev:
    profiles: ["dev"]
    build:
      context: .
      dockerfile: server/Dockerfile
      target: app-dev
    ports:
      - "8000:8000"
    volumes:
      - ./server/src/rest_api:/app/server/src/rest_api
      - ./server/src/common:/app/server/src/common
    restart: "always"
    environment:
      - TZ=Asia/Tokyo
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
      - PYTHONPATH=/app/server/src
      - APP_SERVER_MODE=dev
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=nba_analyzer
      - DB_USER=nba_analyzer_user
      - DB_PASSWORD=nba_analyzer_password
    depends_on:
      - postgres

  app-prod:
    profiles: ["prod"]
    build:
      context: .
      dockerfile: server/Dockerfile
      target: app-prod
    ports:
      - "80:80"
    volumes:
      - app-temp:/tmp
    read_only: true
    restart: "always"
    environment:
      - TZ=Asia/Tokyo
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
      - PYTHONPATH=/app/server/src
      - APP_SERVER_MODE=prod
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=nba_analyzer
      - DB_USER=nba_analyzer_user
      - DB_PASSWORD=nba_analyzer_password
    depends_on:
      - postgres

  batch-dev:
    profiles: ["dev"]
    build:
      context: .
      dockerfile: server/Dockerfile
      target: batch
    volumes:
      - ./server/src/batch:/app/server/src/batch
      - ./server/src/common:/app/server/src/common
    restart: "always"
    environment:
      - TZ=Asia/Tokyo
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
      - PYTHONPATH=/app/server/src
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=nba_analyzer
      - DB_USER=nba_analyzer_user
      - DB_PASSWORD=nba_analyzer_password
      - NBA_ANALYZER_BATCH_WITH_INIT=${NBA_ANALYZER_BATCH_WITH_INIT:-false}
    depends_on:
      - postgres

  batch-prod:
    profiles: ["prod"]
    build:
      context: .
      dockerfile: server/Dockerfile
      target: batch
    volumes:
      - batch-temp:/tmp
    restart: "always"
    environment:
      - TZ=Asia/Tokyo
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
      - PYTHONPATH=/app/server/src
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=nba_analyzer
      - DB_USER=nba_analyzer_user
      - DB_PASSWORD=nba_analyzer_password
      - NBA_ANALYZER_BATCH_WITH_INIT=${NBA_ANALYZER_BATCH_WITH_INIT:-false}
    depends_on:
      - postgres

  postgres:
    image: postgres:18
    ports:
      - "5432:5432"
    restart: "always"
    environment:
      - POSTGRES_DB=nba_analyzer
      - POSTGRES_USER=nba_analyzer_user
      - POSTGRES_PASSWORD=nba_analyzer_password
    volumes:
      - postgresql-data:/var/lib/postgresql

volumes: # /var/lib/docker/volumes/
  app-temp:
  batch-temp:
  postgresql-data: