version: '3.8'

services:

  app-dev:
    profiles: ["dev"]
    build:
      context: .
      dockerfile: server/Dockerfile
      target: app-dev
    ports:
      - "8000:8000"
    volumes:
      - ./server:/app/server
      - /app/server/.venv
    restart: "always"
    environment:
      - TZ=Asia/Tokyo
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
      - PYTHONPATH=/app
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=nba_analyzer
      - DB_USER=nba_analyzer_user
      - DB_PASSWORD=nba_analyzer_password
    depends_on:
      - postgres

  app-prod:
    profiles: ["prod"]
    build:
      context: .
      dockerfile: server/Dockerfile
      target: app-prod
    ports:
      - "80:80"
    volumes:
      - app-temp:/tmp
    read_only: true
    restart: "always"
    environment:
      - TZ=Asia/Tokyo
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
      - PYTHONPATH=/app/server
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=nba_analyzer
      - DB_USER=nba_analyzer_user
      - DB_PASSWORD=nba_analyzer_password
    depends_on:
      - postgres

#   batch-dev:
#     profiles: ["dev"]
#     build:
#       context: .
#       dockerfile: server/Dockerfile
#       target: batch-dev
#     volumes:
#       - batch-temp:/tmp
#       - ./batch:/app
#     restart: "always"
#     environment:
#       - TZ=Asia/Tokyo
#       - PYTHONDONTWRITEBYTECODE=1
#       - PYTHONUNBUFFERED=1
#       - DB_MANAGE=True
#       - PYTHONPATH=/app
#       - DB_HOST=postgres
#       - DB_PORT=5432
#       - DB_NAME=nba_analyzer
#       - DB_USER=nba_analyzer_user
#       - DB_PASSWORD=nba_analyzer_password
#     depends_on:
#       - postgres

#   batch-prod:
#     profiles: ["prod"]
#     build:
#       context: .
#       dockerfile: server/Dockerfile
#       target: batch-prod
#     volumes:
#       - batch-temp:/tmp
#     restart: "always"
#     environment:
#       - TZ=Asia/Tokyo
#       - PYTHONDONTWRITEBYTECODE=1
#       - PYTHONUNBUFFERED=1
#       - DB_MANAGE=True
#       - PYTHONPATH=/app
#       - DB_HOST=postgres
#       - DB_PORT=5432
#       - DB_NAME=nba_analyzer
#       - DB_USER=nba_analyzer_user
#       - DB_PASSWORD=nba_analyzer_password
#     depends_on:
#       - postgres

  postgres:
    image: postgres:18
    ports:
      - "5432:5432"
    restart: "always"
    environment:
      - POSTGRES_DB=nba_analyzer
      - POSTGRES_USER=nba_analyzer_user
      - POSTGRES_PASSWORD=nba_analyzer_password
    volumes:
      - postgresql-data:/var/lib/postgresql

volumes: # /var/lib/docker/volumes/
  app-temp:
#   batch-temp:
  postgresql-data: